---
import Layout from './Layout.astro';

interface Props {
  frontmatter: Frontmatter;
}
interface Frontmatter {
  title: string;
  imgSrc: string | null | undefined;
  slug: string;
  file: string;
  url: string | undefined;
}

const { title } = Astro.props.frontmatter;
---
<Layout title={title}>
  <main class="m-auto my-6 px-6 lg:px-0 w-full max-w-[1200px] flex flex-col items-center">
		<div class="w-full h-0 md:h-12"></div>
    <div class="w-full">
      <!-- { imgSrc && <img src={imgSrc} alt=""> } -->
      <h1 class="my-9 text-4xl">{title}</h1>
    </div>
    <div class="prose w-full max-w-full">
      <slot />
    </div>
	</main>
</Layout>